

<main>


    {{!--formulario --}}
    <div class="container">

        <div class="row">
            <div class="col-6 offset-3"></div>
            {{!-- mesagens --}}
            {{#condicionalIgualdade situacao "okCadastro"}}
                <div class="alert alert-success">Produto Cadastrado com Sucesso</div>
            {{/condicionalIgualdade}}
     
            {{!-- mesagens  edicao--}}
            {{#condicionalIgualdade situacao "okEdicao"}}
                <div class="alert alert-success">Produto Editado com Sucesso</div>
            {{/condicionalIgualdade}}
     
            {{!-- mesagens  remover --}}
            {{#condicionalIgualdade situacao "okRemover"}}
                <div class="alert alert-success">Produto Removido com Sucesso</div>
            {{/condicionalIgualdade}}

                        {{#condicionalIgualdade situacao "falhaCadastro"}}
                            <div class="alert alert-danger">Falha ao cadastrar produto tente novamente</div>
                        {{/condicionalIgualdade}}
                
                        {{!-- mesagens  edicao--}}
                        {{#condicionalIgualdade situacao "falhaEdicao"}}
                            <div class="alert alert-danger">Falha ao editar produto tente novamente</div>
                        {{/condicionalIgualdade}}
                
                        {{!-- mesagens  remover --}}
                        {{#condicionalIgualdade situacao "falhaRemover"}}
                            <div class="alert alert-danger">Falha ao remover produto tente novamente</div>
                        {{/condicionalIgualdade}}
                
     
            <form action="/cadastrar" method="post" enctype="multipart/form-data">


                <input type="hidden" name="nomeImagem" value = "{{produto.imagem}}">;
                <input type="text" name="nome" class="form-control" placeholder="nome do produto">
                <input type="number" name="valor" class="form-control" placeholder="valor do produto">
                <input type="file" name="imagem" class="form-control" >
                  <input type="submit" class="btn btn-primary"value="Cadastrar"  >
            {{!-- formujlario para cadastro de produtos e listagem do nosso produtos  --}}   

            </form>
        
        </div>
    </div>
    {{!-- listamgemd de produtos  --}}
    <div class="container">
        <div class="row">
           {{#each produtos}}
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../imagens/{{imagem}}" >
                   <div class="textos">
                            <p>{{nome}}</p>
                            <p>{{valor}}</p>

                   </div>
                    <a href="/formularioEditar/{{codigo}}" class="btn btn-warning">Alterar</a>
                    <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger ">Remover</a>
                </div>
            </div>
           {{/each}}
        </div>
    </div>
</main>