

<main>
{{!-- Exibir  mesagem  se nescessario --}}

   {{#if semRegistros}}
    <h1 class="produtoNaoEncontrado">Nenhum Produto Encontrado :(</h1>
    <img class="imagemNaoEncontrada" src="../imagens/naoEncontrado.jpg" alt="Produto não encontrado">
{{/if}}


   
    {{!-- listamgemd de produtos  --}}
    <div class="container">
        <div class="row">
           {{#each produtos}}
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../imagens/{{imagem}}" >
                   <div class="textos">
                            <p>{{nome}}</p>
                            <p>{{valor}}</p>

                   </div>
                    <a href="/formularioEditar/{{codigo}}" class="btn btn-warning">Alterar</a>
                    <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger ">Remover</a>
                </div>
            </div>
           {{/each}}
        </div>
    </div>
</main>